
@{
    ViewBag.Title = "DT - it's you chance";
}

<section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Получай удовольствие от работы</h1>
                <img src="~/Content/Images/SectionPageTatleImg.png" />
            </div>
        </div>
    </div>
</section>

